body{
background-image:url("background/background.jpg");
/*background-color:#e0e0d1;*/
background-size:200%;
}
.headerbody{
background-image:url("background/header.jpg");
background-size:80%;
position: relative;
height:30%;
z-index:1;
opacity:0.9;
}
.header{
position: relative;
top:20%;
left:10%;
}
#title{
color: #ff3333;
font-family: Parisiene; 
}
#subtitle{
color: white;
}
.loginbox{
margin:auto;
position:absolute;
border: 1px solid white;
padding:10px;
top:30%;
left:75%;
width:200px;
height:auto;
}